<!DOCTYPE html>
<html lang="en">
<head>
  <title>Massmutual</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/main.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    
	<script src="js/main.js"></script>
	<script src="js/blog.js"></script>

  </head>
  <style>
  a: hover{
  color: #fff;
  
  }
    a: visited{
  color: #fff;
  
  }
    a: link{
  color: #fff;
  
  }
    a: active{
  color: black;
  
  }
  
  </style>
  
<body>

<nav class="navbar navbar-default appln_nav" style="margin-bottom: 0px; color:#fff;">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#" style="color:#fff;">Massmutual</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right" >
            
      </ul>
    </div>
  </div>
</nav>

<div class="container">
<br>
<h1 class="blog_heading"></h1>
<br>
 <div class="media">
    <div class="media-left">
      <img  class="media-object" style="width:60px">
    </div>
    <div class="media-body">
      <h4 class="media-heading"></h4>
      <p class="media-content"></p>
    </div>
  </div>
  
  <img  alt="second_image" class="img-responsive blog_img"></img>
	<br>
	<br>
	<div class="content-div">
	<p class="main-content-blog">
	
	</p>
	</div>
</div>



 <!--Footer-->
      <footer class="page-footer font-small stylish-color-dark pt-4 mt-4">

      
              <hr>
      
              <div class="row py-3 d-flex align-items-center">
      
                  <!--Grid column-->
                  <div class="col-md-8 col-lg-8">
      
                      <!--Copyright-->
                      <p class="text-center text-md-left grey-text copywrite">©2018 Massachusetts Mutual Life Insurance Company (MassMutual), Springfield, MA 01111-0001. All rights reserved. </p>
                      <!--/.Copyright-->
      
                  </div>
                  <!--Grid column-->
      
                  <!--Grid column-->
                  <div class="col-md-4 col-lg-4 ml-lg-0">
      
                      <!--Social buttons-->
                      <div class="text-center text-md-right">
                          <ul class="list-unstyled list-inline">
                              <li class="list-inline-item"><a class="btn-floating btn-sm rgba-white-slight mx-1">
							  Terms of use</a></li> | 
                              <li class="list-inline-item"><a class="btn-floating btn-sm rgba-white-slight mx-1">Privacy Policy</a></li>
                              
                          </ul>
                      </div>
                      <!--/.Social buttons-->
      
                  </div>
                  <!--Grid column-->
      
              </div>
      
          </div>
      
      </footer>
      <!--/.Footer-->
	  
	  <script>


</script>
	  
	  </body>
	  </html>