<!DOCTYPE html>
<html lang="en">
<head>
  <title>Massmutual</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/main.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   <script src="js/main.js"></script>
</head>
<body>

<nav class="navbar navbar-default appln_nav" style="margin-bottom: 0px;">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand"  href="#"></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        
     
     
        
       
      </ul>
    </div>
  </div>
</nav>
  
<div class="container-fluid img_div" style="padding-left: 0px; padding-right: 0px;padding-top:0px" >
	<img class="bgimg" src="images/bg1.jpg" alt="image to be displayed"> </img>
	<div class="caption post-content"><h2> Live Mutual </h2><p> Living mutual has always been at the core of our human existence, and it's the principle that's guided us since our founding in 1851. It's not a concept we invented, but one we champion for the simple reason that people take it for granted today.</p></div>
</div>

<div class="container grid-class">
  
  <div class = 'row' id="data"></div>
  <div class = 'row' id="data1"></div>
  
</div>




 <footer class="page-footer font-small stylish-color-dark pt-4 mt-4">

      
              <hr>
      
              <div class="row py-3 d-flex align-items-center">
      
                  <!--Grid column-->
                  <div class="col-md-8 col-lg-8">
      
                      <!--Copyright-->
                      <p class="text-center text-md-left grey-text copywrite">©2018 Massachusetts Mutual Life Insurance Company (MassMutual), Springfield, MA 01111-0001. All rights reserved. </p>
                      <!--/.Copyright-->
      
                  </div>
                  <!--Grid column-->
      
                  <!--Grid column-->
                  <div class="col-md-4 col-lg-4 ml-lg-0">
      
                      <!--Social buttons-->
                      <div class="text-center text-md-right">
                          <ul class="list-unstyled list-inline">
                              <li class="list-inline-item"><a class="btn-floating btn-sm rgba-white-slight mx-1">
							  Terms of use</a></li> | 
                              <li class="list-inline-item"><a class="btn-floating btn-sm rgba-white-slight mx-1">Privacy Policy</a></li>
                              
                          </ul>
                      </div>
                      <!--/.Social buttons-->
      
                  </div>
                  <!--Grid column-->
      
              </div>
      
          </div>
      
      </footer>
</body>
</html>
