

<div class="container-fluid">
	<div id="qr" style="display:inline-block; min-width:2.2cm; height:3.8cm; align: center;vertical-align: middle;">
<img ng-init="myVar = 'pic_angular.jpg'" style="height:10px;" > </img>

<img ng-src="{{myVar}}"></img>

</div>

<div style="display:inline-block;vertical-align: middle;">
    <p ng-bind="firstname"></p>
</div>

</div>

<div class="container-fluid img_div" style="height: 300px; width: 100%">
<img src="/images/bg4.jpg" alt="Image" id="blog_img" style="height: 300px;width: 100%"></img>
</div>

<div class="container" ng-controller="BlogController">
    <p ng-bind="content_from _json">
        
	</p>
    </div>
</div>