<div class="container-fluid footer_part1" style="background-color: #efe9e9; padding-bottom: 60px;">
	<div class="row">
		<div class="col-sm-4"> <center><br><br><br><br><h5>Get the latest insurance, retirement and financial planning news.</h5></center></div>
		<div class="col-sm-4">
			<div class="wrap">
			<div class="mat-div">
				<label for="first-name" class="mat-label">Enter your Email</label>
				<input type="email" class="mat-input" id="first-name" required>
			</div>
			<button class="btn btn-default" id="submit">Submit</button>
	
			</div>
		</div>
		<div class="col-xs-4">
		<h5> Follow us></h5>
		<!-- <a href="https://www.facebook.com/massmutual"> -->
		<i class="fab fa-facebook-f "></i>
		<!-- </a> -->
		<a href="https://www.linkedin.com/company/massmutual-financial-group"><i class="fab fa-linkedin-in"></i></a>
		<a href="https://twitter.com/massmutual"><i class="fab fa-twitter></i></a>
		</div>
		
</div>
</div>